@{
    Layout = "~/Views/MaoAPP/_Layout.cshtml";
}
@model WebMaoApp_MVC.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Cambiar contraseña";
}

<div class="col-sm-6 col-sm-offset-3" style="background:rgba(0,0,0,0.6); color: white !important;">
    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Formulario para cambiar la contraseña</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-4 control-label" })
            <div class="col-md-6">
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-4 control-label" })
            <div class="col-md-6">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label" })
            <div class="col-md-6">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="text-center">
                <input type="submit" value="Cambiar contraseña" class="btn btn-default" />
            </div>
        </div>

    }

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}